@using SweetShop.Resources
<form method="post" enctype="multipart/form-data">
    <label class="control-label yazi" style="padding-top:25px;">@Lang.ImageURL</label>
    <br />
    <input type="file" class="form-control" name="ImageFile" style="margin-top:25px;"/><br />
    <button class="yazi">@Lang.Save</button>
</form>